body{
    background:url("../images/bg.webp") no-repeat;
    background-size:cover;
    text-align: center;
}

#sideBorder{
    padding-top: 20%;
}

a:link{text-decoration:none;color:lightgreen}
a:hover{text-decoration: none;color: pink}
a:active{text-decoration: none;color: yellow}

.text-lg{
    font-size: 3em;
    color: darkred;
}

.text-lg-noColor{
    font-size: 3em;
}


