body{
    background:url("../images/bg.webp") no-repeat;
    background-size:cover;
    text-align: center;
}

#sideBorder{
    font-size: 10%;
    padding-top: 250px;
    font-family: "FZYH", sans-serif;
}

    a:link{text-decoration:none;color:lightgreen}
    a:hover{text-decoration: none;color: pink}
    a:active{text-decoration: none;color: yellow}