<component name="ArtifactManager">
  <artifact type="exploded-war" build-on-make="true" name="web">
    <output-path>$PROJECT_DIR$/out/artifacts/web</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="MyWeb" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="commons-fileupload-1.4" />
          <element id="library" level="project" name="commons-io-2.11.0" />
          <element id="library" level="project" name="mysql-connector-java-8.0.26" />
          <element id="library" level="project" name="ant" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="MyWeb/web/Web" />
    </root>
  </artifact>
</component>